<footer class="footer text-center bg-opacity-75 py-5">
    <div class="container py-2">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0 text-light">
                <h4 class="text-uppercase mb-4">Location</h4>
                <p class="lead mb-0">
                    2215 John Daniel Drive
                    <br>
                    Clark, MO 65243
                </p>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0 text-light">
                <h4 class="text-uppercase mb-4">Around the Web</h4>
                <a class="btn btn-outline-light btn-social mx-1 p-3 rounded-circle" href="#!"><i class="fab fa-fw fa-facebook-f fs-5"></i> </a>
                <a class="btn btn-outline-light btn-social mx-1 p-3 rounded-circle" href="#!"><i class="fab fa-fw fa-twitter fs-5"></i></a>
                <a class="btn btn-outline-light btn-social mx-1 p-3 rounded-circle" href="#!"><i class="fab fa-fw fa-linkedin-in fs-5"></i></a>
                <a class="btn btn-outline-light btn-social mx-1 p-3 rounded-circle" href="#!"><i class="fab fa-fw fa-dribbble fs-5"></i></a>
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4 text-light">
                <h4 class="text-uppercase mb-4">About Freelancer</h4>
                <p class="lead mb-0">
                    Freelance is a free to use, MIT licensed Bootstrap theme created by Route</p>
            </div>
        </div>
    </div>
</footer>

<div class="copyright py-4 text-center text-light">
    <div class="container"><small class="text-light">Copyright © Your Website 2021</small></div>
</div>

<div class="scroll-to-top d-lg-none position-fixed" style="display: block;">
    <a class="js-scroll-trigger d-block text-center text-light rounded" href="#page-top"><svg class="svg-inline--fa fa-chevron-up fa-w-14" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="chevron-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M240.971 130.524l194.343 194.343c9.373 9.373 9.373 24.569 0 33.941l-22.667 22.667c-9.357 9.357-24.522 9.375-33.901.04L224 227.495 69.255 381.516c-9.379 9.335-24.544 9.317-33.901-.04l-22.667-22.667c-9.373-9.373-9.373-24.569 0-33.941L207.03 130.525c9.372-9.373 24.568-9.373 33.941-.001z"></path></svg><!-- <i class="fa fa-chevron-up"></i> Font Awesome fontawesome.com --></a>
</div>
