<nav class="navbar navbar-expand-lg text-uppercase text-light py-3" id="mainNav">
    <div class="container  text-light">
        <a class="navbar-brand js-scroll-trigger text-light fw-bold fs-3" href="#page-top" routerLink="/home">Start Angular</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto text-light">
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-light fw-bold fs-6" href="#portfolio" routerLink="/Portfolio" routerLinkActive="active">Portfolio</a></li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-light fw-bold fs-6" href="#about" routerLink="/about" routerLinkActive="active">About</a></li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-light fw-bold fs-6" href="#contact" routerLink="/contact" routerLinkActive="active">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

